/*Main*/

/*default darktheme*/
$opacity-text: rgba(0, 0, 0, 0);
$text-color: rgb(184, 187, 223);
$text-color-hover: rgb(217, 220, 247);
$text-color-secondary: rgba(255, 255, 255, 0.856);
$text-color-neon: rgb(77,166,255);
$text-color-neon-hover: rgb(115, 183, 252);
$background-color: rgb(9, 15, 29);
$content-background-color: rgb(29, 29, 41);
$content-secondary-background-color: rgb(40, 40, 54);
$hover-color: rgb(52, 52, 68);
$active-color: rgba(255, 255, 255, 0.3);
$texture-neon: rgb(77,166,255);
$nav-background: #19233a;
$nav-background-hover: #2c3a58;
$li-background: rgb(62, 62, 78);

html[theme="light"]{

}

.info{
    margin-bottom: 5%;
}

.ok{
    color: rgb(50, 195, 50)
}

.error{
    color: red;
}

/*Some irritating things*/

.btn{
    border: none;
}

.btn-primary{
    background-color: $content-background-color;
    border: 1px solid $text-color-neon;
    color: $text-color-neon;

    &.btn-hackerrank{
        color: #44de44 !important;
        border-color: #44de44 !important;
        box-shadow: 0px 0px 5px #44de44;

        &:disabled{
            box-shadow: none;
        }

        i{
            color: #44de44 !important;
        }
    }

    &:hover{
        background-color: $hover-color;
        border: 1px solid $text-color-neon;
        color: $text-color-neon;
    }

    &:active{
        background-color: $hover-color !important;
        border: 1px solid white !important;
        color: $text-color-neon;
    }

    &:disabled{
        background-color: $content-background-color !important;
    }

    &:hover:disabled{
        cursor: not-allowed;
    }
}

.btn-secondary{
    background-color: $content-background-color;
    color: $text-color !important;
}

.btn-secondary:hover{
    background-color: $hover-color !important;
}

.btn-secondary:active{
    background-color: $active-color;
}

button:focus{
    outline: none !important;
    box-shadow: none !important;
}

input:focus{
    outline: none !important;
}

.form-group, .form{
    margin-bottom: 1%;
    height: 60%;
}

.form-group input, .form input[type = 'text'], .form input[type = 'password']{
    background-color: $content-background-color !important;
    border: 0px;
    height: 100%;
    width: 92%;
    color: white !important;
}

.form-group button{
    margin-bottom: 1%;
}

.form-group > div > div{
    margin-top: 5%;
    height: 10%;
    color: white;
}

.field-name{
    position: absolute;
    top: 0;
    left: 15;
    z-index: 1;
    transition: 500ms;
    opacity: 1;
    font-size: 12px;
}

.field-input{
    position: absolute;
    top: 0;
    left: 15;
    z-index: 0;
    transition: 500ms;
    padding-top: 18px;
}

input.field-focus{
    padding-top: 1px;
}

label.field-focus{
    opacity: 0;
}

.register-form{
    overflow: hidden;
}
 
.login-form{
    overflow: hidden;
}

.submit:disabled{
    border: none;
    background-color: $content-background-color;
    opacity: .5;
}

body{
    background-color: $background-color;
}

.menu{
    list-style-type: none;
    z-index: 1;

    li{
        height: 30px;
        width: 0px;
        overflow: hidden;
        transition: width .2s ease;
        color: $text-color;
        background-color: $li-background;
        padding-top: 3px;
        padding-bottom: 3px;
        color: $text-color;

        a{
            color: inherit;
            text-decoration: none;
            font-size: 15px;
            margin-left: 5px;
            font-weight: bold;
            color: inherit;
        }

        &:hover{
            color: $text-color-hover;
        }
    }

    &:hover{
        li{
            width: 160px;
        }
    }
}

.row{
    margin: 0 !important;
}

.text-center{
    text-align: center !important;
    vertical-align: middle !important;

    p{
        margin: 0;
    }
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

tr{
    height: 30px;
}

@keyframes glow{
    0%{
        opacity: 1;
    }

    12%{
        opacity: 0.5;
    }

    25%{
        opacity: 0.75;
    }

    50%{
        opacity: 0.25;
    }

    62%{
        opacity: 0.7;
    }

    75%{
        opacity: 0.5;
    }

    100%{
        opacity: 1;
    }
}

@keyframes glow-text{
    0%{
        text-shadow: 0px 0px 5px $texture-neon;
    }

    12%{
        text-shadow: 0px 0px 3px $texture-neon;
    }

    30%{
        text-shadow: 0px 0px 10px $texture-neon;
    }

    50%{
        text-shadow: 0px 0px 5px $texture-neon;
    }

    75%{
        text-shadow: 0px 0px 8px $texture-neon;
    }
    
    100%{
        text-shadow: 0px 0px 5px $texture-neon;
    }
}

.dark-red{
    color: white !important;
    text-shadow: 0px 0px 5px $texture-neon;
    text-decoration: none !important;
    animation: glow-text 4s infinite linear;
    -webkit-animation: glow-text 4s infinite linear;
    
    & > div{
        border-color: white !important;
        position: relative;
    }
}

.glow{
    width: 0;
    height: 0;

    &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 103%;
        height: 103%;
        border-radius: 50%;
        z-index: -1;
        box-shadow: 0px 0px 20px $texture-neon;
        opacity: 1;
        animation: glow 4s infinite linear; 
        -webkit-animation: glow 4s infinite linear; 
    }
}

.black{
    color: $text-color !important;
    text-decoration: none !important;
    
    & > div{
        border-color: $text-color !important;
        position: relative;
    }
}

.gray{
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;
    
    & > div{
        border-color: rgb(255, 255, 255) !important;
        position: relative;
    }
}

.green{
    color: rgb(50, 195, 50) !important;
    text-decoration: none !important;
    
    & > div{
        border-color: rgb(50, 195, 50) !important;
        position: relative;
    }   
}

.cyan{
    color: $text-color-neon !important;
    text-decoration: none !important;
    
    & > div{
        border-color: $text-color-neon !important;
        position: relative;
    }
}

.blue{
    color: blue;
    text-decoration: none !important;
    
    & > div{
        border-color: blue !important;
        position: relative;
    }
}

.violet{
    color: rgb(193, 0, 252);
    text-decoration: none !important;
    
    & > div{
        border-color: rgb(193, 0, 252) !important;
        position: relative;
    }
}

.orange{
    color: orange;
    text-decoration: none !important;
    
    & > div{  
        border-color: orange !important;
        position: relative;
    }
}

.red{
    color: rgb(255, 40, 40);
    text-decoration: none !important;
    
    & > div{
        border-color: rgb(255, 40, 40) !important;
        position: relative;
    }
}

.super-red{
    text-decoration: none !important;
    
    & > div{
        border-color: rgb(255, 40, 40) !important;
        box-shadow: 0px 0px 10px black;
        position: relative;
    }

    color: rgb(255, 40, 40);
    text-shadow: 0px 0px 5px black;
    &:first-letter{
        color: black;
    }

}

.user{
    color: $text-color-neon;
    text-decoration: none !important;

    & > div{
        border-color: $texture-neon;
        position: relative;
    }
}

.admin{
    display: none;
}



h3, h2{
    color: $text-color-neon;
}

.panel{
    border: 1px solid $texture-neon;
    border-radius: 5px;
    overflow: hidden;
}

.table-dark{
    white-space: nowrap;
    border-radius: 5px;
}

table{
    width: 100%;
    background-color: $content-background-color;
    color: $text-color !important;

    a{
        text-decoration: none !important;
        // font-style: italic;
        font-weight: bold;
        color: $text-color-neon;

        &:hover{
            color: $text-color-neon-hover;
        }
    }

    thead{
        
        tr{
            background-color: $content-secondary-background-color;
            
            th{
                border-right: 1px solid $texture-neon !important;
                padding: 4px;

                &:first-child{
                    border-top-left-radius: 5px;
                }

                &:last-child{
                    border-right-width: 0px !important;
                    border-top-right-radius: 5px;
                    border: none;
                }
            }
        }
    }

    tbody{

        td{
            padding: 4px;
            background-color: $content-background-color;
            border-top: 1px solid $texture-neon !important;
            border-right: 1px solid $texture-neon !important;

            &:last-child{
                border-right-width: 0px !important;
            }
        }

        td:hover{
            background-color: $hover-color !important; 
        }

        tr:nth-child(even){

            td{
                background-color: $content-secondary-background-color;
            }
        }

        tr:last-child{
            
            td:first-child{
                border-bottom-left-radius: 5px;
            }

            td:last-child{
                border-bottom-right-radius: 5px;
            }
        }
    }

    hr{
        border-color: $texture-neon;
    }
}

//Customized scrollbar

::-webkit-scrollbar{
    width: 6px;
    height: 3px;
    background-color: rgb(17, 26, 48);
}

::-webkit-scrollbar-thumb{
    background-color: $text-color-neon;
    border-radius: 3px;

    &:hover{
        background-color: $text-color-neon-hover;
    }
}

hr{
    border-color: $texture-neon;
}

.middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 768px){
    .middle{
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/*Log In page*/

.login{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.login > svg, .login .loading{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    height: auto;
}

.login-form{
    text-align: center;
    width: 33%;
    color: $text-color;
    background-color: $content-background-color;
    height: auto;
    border-radius: 10px;
    margin-left: 15%;
    
    hr{
        width: 80%;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    h2{
        margin-top: 10px;
    }
    
    .form-group{

        & > div{
            height: auto;
            margin-bottom: 10px;

            & > div{
                height: 50px;
            }
        }
    }   

    button{
        margin-top: 30px;
    }
}


@media screen and (max-width: 768px){
    .login{
        // min-width: 686px;
        // min-height: 320px;

        svg{
            display: none;
        }
    }

    .login-form{
        width: 70%;
        margin-left: 0;
    }
}

/*Register Page*/
.register > svg, .register .loading{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    height: auto;
}

.register-form{
    text-align: center;
    color: $text-color;
    background-color: $content-background-color;
    height: auto;
    border-radius: 10px;
    width: 40%;
    margin-left: 15%;

    hr{
        width: 80%;
    }

    & > h2{
        padding-top: 5%;
    }

    .form-group{
        width: 200%;
        clip-path: inset(0% 50% 0% 0%);
        -webkit-clip-path: inset(0% 50% 0% 0%);

        & > div{
            margin-bottom: 10px;
            
            & > div{
                height: 55px;
            }
        } 
    }
}

.anchor{
    margin-left: 0%;
}

.back{
    margin-right: 5%;
}

@media(max-width: 768px) and (min-width: 320px){
    .register > svg{
        display: none;
    }

    .register-form{
        text-align: center;
        color: $text-color;
        background-color: $content-background-color;
        height: auto;
        border-radius: 10px;
        width: 70%;
        margin-left: 0;

        & > h2{
            padding-top: 5%;
        }

        .form-group{
            width: 200%;
            margin-left: .5%;
            height: auto;
            clip-path: inset(0% 50% 0% 0%);
            -webkit-clip-path: inset(0% 50% 0% 0%);
        }
    }

    .anchor{
        margin-left: 0%;
    }

    .back{
        margin-right: 5%;
    }
}

/*Logo*/

.logo{
    fill: rgb(77, 166, 255);
}

/*navbar*/

.navbar{
    grid-template-columns: 10% 10% 10% 60% 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 50px;
    padding: 0;
    background-color: $nav-background;
    z-index: 3;

    button{
        display: none;
        z-index: 1;
    }

    .icon{
        color: white;
        height: 100%;
        line-height: 100%;

        &:hover{
            background-color: $nav-background-hover;
        }
        
        & > div{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 100%;
            padding: 5px 10px;

            svg{
                height: 100%;
                float: left;

                & > path{
                    fill: white;
                }
            }

            div{
                padding-top: 10px;
                font-size: 20px;
                float: left;
                line-height: 100%;
            }

            &:hover{
                background-color: $nav-background-hover;
            }
        }
    }

    .nav-content{
        height: 40px;
        color: $text-color;
        font-weight: bold;
        float: left;


        .nav-link{
            position: relative;
            color: inherit;
            height: 40px !important;
            float: left;
            &::after{
                content: '';
                position: absolute;
                top: 35px;
                width: 0; height: 3px;
                display: block;
                // margin-top: 27px;
                right: 0;
                background: #fff;
                transition: width .2s ease;
                -webkit-transition: width .2s ease;
            }

            &:hover::after{
                width: 100%;
                left: 0;
                background: #fff;
            }

            .nav-link-content{
                color: inherit;
                height: 40px;
                float: left;
                text-decoration: none;
            }

            div{
                position: relative;

                label{
                    color: black;
                    font-size: 10px;
                    font-weight: bold;
                    background-color: white;
                    border-radius: 2px;
                    position: absolute;
                    right: -22px;
                    top: -5px;
                }
            }
        }

        nav{
            height: inherit;

            ul{
                list-style: none;
                list-style-image: none;

                button{
                    display: none;
                }
            }
        }

        .active{
            color: $text-color-secondary !important;
        }

        .profile{
            height: inherit;
            cursor: pointer;

            & > a{
                width: 215px;
                
                p{
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            ul{  
                height: 0px;
                list-style-type: none;
                margin-top: 45px;
                padding-left: 0px;
                width: 220px;
            }

            .nav-link-content{
                margin-right: 5px;
                height: 24px;
                word-break: break-all;
                text-overflow: ellipsis;
            }

            i{
                font-size: 20px;
                margin-top: 3px;
                float: left;
                transform: rotate(180deg);
                transition: rotate .2s ease;
            }

            &.toggle{

                i{
                    transform: rotate(90deg);
                }

                ul{
                    height: auto;
                }

                li{
                    width: 220px;
                }
            }

            li{
                height: 40px;
                line-height: 40px;
                width: 0px;
                background-color: $li-background;
                overflow: hidden;

                a{
                    text-decoration: none;
                    padding: 3px;
                    color: $text-color-secondary;
                    &:hover{
                        color: $text-color;
                    }
                }
            }

            //Still didn't figure out a better way
            .one{
                transition: width .2s ease;
                transition-delay: 0s;
            }
            .two{
                transition: width .2s ease;
                transition-delay: .1s;
            }
            .three{
                transition: width .2s ease;
                transition-delay: .2s;
            }
            .four{
                transition: width .2s ease;
                transition-delay: .3s;
            }
        }
    }
}

@media (max-width: 978px){
    .navbar{
        .nav{
            display: none;
            height: auto !important;
        }

        button{
            display: block !important;
            position: absolute;
            right: 15px;
            width: 40px !important;
            height: 40px;
            text-align: center;
            padding: 0;
            line-height: 40px;

            &::after{
                display: none;
            }
        }
            
        .open{
            display: block !important;
            z-index: 11;
        }
    }

    nav{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100vw;
        z-index: 1;
        background-color: $nav-background;

        .nav-selections{
            flex-wrap: wrap;
            padding: 0;
        
            .nav-link{
                width: 100%;
            }
        }
    }
}

/* Post */

.post{
    margin: 130px 10% 30px 10%;
    color: $text-color;

    .post-heading{
        padding-left: 15px;
        padding-bottom: 5px;
        padding-right: 30px;
        color: $text-color-neon;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: $content-background-color;
        position: relative;
        border: 1px solid $texture-neon;

        h3{
            margin-bottom: 0px;

            span{
                margin-left: 10px; 
                font-size: 10px;
                color: white;
            }
        }

        .admin{
            
            a{
                color: $text-color-neon;
                text-decoration: none;
                font-weight: bold;
                // font-style: italic;
                
                &::after{
                    content: '';
                    // position: absolute;
                    width: 0; height: 3px;
                    display: block;
                    margin-top: 2px;
                    margin-bottom: 10px;
                    background: $texture-neon;
                    transition: width .2s ease;
                    -webkit-transition: width .2s ease;
                }

                &:hover::after{
                    width: 100%;
                }
            }
        }

        .author{
            margin-top: 10px;
            display: flex;
            overflow: hidden;
            flex-wrap: nowrap;
            color: $text-color;
            width: 100%;
        }
    }

    .post-content{
        padding: 15px;
        background-color: $content-background-color;
        border-radius: 5px;
        color: $text-color;
        margin-bottom: 10px;
        
        a{
            color: $text-color-neon;
            // font-style: italic;
            font-weight: bold;
        }

        p{
            width: inherit;
        }

        img{
            max-width: 100%;
        }

        pre{
            color: inherit;
        }
    }

    .post-footer{
        background-color: $content-background-color;
        border-radius: 5px;
        
        a{
            margin-left: 15px;
        }
    }
}

/* Home */

.new_posts{
    margin-top: 130px;
    width: 100%;

    .post{
        margin-top: 30px !important;
        position: relative;
        width: 100%;
        height: auto;
        background-color: $content-background-color;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 10px 10px 10px black;
        cursor: pointer;

        .img{
            overflow: hidden;
            height: inherit;
            width: 200px;
            padding: 0 !important;
        
            img{
                height: auto;
                width: 100%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            svg{
                width: 100%;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;

                path{
                    fill: $texture-neon;
                }
            }
        }

        .content{
            margin-top: 10px;
            height: auto;

            .title{
                color: $text-color-neon;
            }

            .description{
                height: 75px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .author{
            margin-top: 10px;
            display: flex;
            overflow: hidden;
            flex-wrap: nowrap;
            color: $text-color;
            width: 100%;
        }

        &:hover{
            background-color: $hover-color;
        }
    }

    .pages{
        margin-top: 30px;
        display: flex;
        justify-content: center;

        .navigate{
            height: 30px;
            width: 30px;
            border: 1px solid $texture-neon;
            border-radius: 5px;
            font-weight: bold;
            color: $text-color-neon;
            margin: 2px;

            i{  
                line-height: 28px;
            }
        }

        label{
            margin: 0;
            line-height: 34px;
            color: $text-color;
            font-weight: bold;
            width: 75px;
            background-color: $background-color;
            text-align: center;
        }
    }
}

/*Home - Contests*/

.contests{
    margin-top: 130px;
    color: $text-color;

    .contest-title{
        background-color: $content-background-color;
        border-radius: 5px;
        border: 1px solid $texture-neon;
        color: $text-color-neon;
        padding-left: 15px;
        margin-top: 30px;
    }

    .contest{
        background-color: $content-background-color;
        border-radius: 5px;
        border: 1px solid $texture-neon;
        margin-top: 10px;
        padding-left: 15px;
        padding-right: 15px;

        a{
            text-decoration: none;
            color: $text-color-neon;
            // font-style: italic;
            font-weight: bold;

            &:hover{
                color: $text-color-neon-hover;
            }
        }

        .contest-content{
            margin-bottom: 10px;

            h3{
                color: $text-color-neon !important;
            }

            button{
                width: 50%;
            }

            .intergrated-table{
                width: 100%;

                td{
                    color: $text-color;
                    padding-right: 15px;
                }

                th{
                    color: $text-color;
                }

                tr{
                    padding: 2px;
                    border-bottom: 1px solid $texture-neon;

                    &:last-child{
                        border: none;
                    }
                }

                tbody tr:nth-child(odd){
                    background-color: $content-secondary-background-color; 
                }
            }
        }

        .contest-footer{
            margin-top: 5px;
            display: flex;
            flex-wrap: wrap;

            a{
                margin-left: 70%;
                padding-bottom: 5px;
            }
        }
    }
}

/* Home - Ranking */
.rankings{
    margin-top: 100px;
    color: $text-color;

    .ranking-title{
        background-color: $content-background-color;
        border-radius: 5px;
        border: 1px solid $texture-neon;
        color: $text-color-neon;
        padding-left: 15px;
        margin-top: 30px;
    }

    .ranking{
        background-color: $content-background-color;
        border-radius: 5px;
        border: 1px solid $texture-neon;
        margin-top: 10px !important;

        a{
            text-decoration: none;
            color: $text-color-neon;
            // font-style: italic;
            font-weight: bold;

            &:hover{
                color: $text-color-neon-hover;
            }
        }

        .ranking-content{

            table{
                width: 100%;

                td{
                    color: $text-color;
                    border-bottom: 1px solid $texture-neon;
                }

                th{
                    color: $text-color;
                }

                tr{
                    padding: 2px;
                }

                tbody tr:nth-child(odd){
                    background-color: $content-secondary-background-color; 
                }
            }
        }
    }
}

/* Contest page */

@keyframes blink{
    0%{
        opacity: 1;
    }

    50%{
        opacity: .5;
    }

    100%{
        opacity: 1;
    }
}

.contest-page{
    margin-top: 100px !important;

    .recent{

        .contest{
            box-shadow: 10px 10px 10px black;
        }
    }

    .present, .upcoming, .recent{
        margin-bottom: 30px;

        .contest{
            background-color: $content-background-color;
            color: $text-color;
            padding: 10px;
            position: relative;
            margin-top: 30px;

            .glow::after{
                border-radius: 10px !important;
                height: 100% !important;
                width: 100% !important;
            }

            .progress{
                box-shadow: inset 0 0 20px $texture-neon;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $content-background-color;
                clip-path: inset(0 100% 0 0);
            }

            .header{
                display: block;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                height: auto;
                min-height: 50px;

                .pointer{
                    background-color: #aad5ff;
                    height: 100%;
                    width: 3px;
                    position: absolute;
                    top: 0;
                    right: 100%;
                    z-index: 1;
                    animation: glow 2s infinite ease-in-out;
                }

                h3{
                    padding-left: 10px;
                    color: $text-color-neon;
                    line-height: 1.5;
                    margin: 0;
                    float: left;
                    position: relative;
                    z-index: 1;
                }

                .caret{
                    padding-right: 10px;
                    display: flex;
                    float: right;
                    margin-right: 10px;
                    position: relative;
                    z-index: 1;
                    
                    i{
                        line-height: 50px;
                        font-size: 30px;
                        font-weight: bold;
                        transform: rotate(0deg);
                        transition: transform .2s ease;
                    }

                    p{
                        line-height: 50px;
                        font-size: 25px;
                        margin: 0;
                        margin-right: 10px;
                    }
                }
                
                &::after{
                    clear: both;
                }

            }

            .clip{
                max-height: 0;
                overflow: hidden;
                transition: max-height .5s ease;

                .content{
                    box-shadow: inset 0px 5px 5px black;

                    .info, .writers{
                        margin-top: 10px;
                    }
                    
                    a{
                        font-weight: bold;
                    }

                    hr{
                        margin: 6px 0px;
                    }

                    .info{
                        margin-bottom: 15px;
                        
                        i, a{
                            color: $text-color-neon;
                        }
                    }

                    .writers{
                        margin-bottom: 15px;
                    }
                }
            }

            &.open{

                .header{

                    i{
                        transform: rotate(-90deg);
                    }
                }

                .clip{
                    max-height: 500px;
                }
            }
        }
    }

    .pages{
        margin-top: 30px;
        display: flex;
        justify-content: center;

        .navigate{
            height: 30px;
            width: 30px;
            border: 1px solid $texture-neon;
            border-radius: 5px;
            font-weight: bold;
            color: $text-color-neon;
            margin: 2px;

            i{  
                line-height: 28px;
            }
        }

        label{
            margin: 0;
            line-height: 34px;
            color: $text-color;
            font-weight: bold;
            width: 75px;
            background-color: $background-color;
            text-align: center;
        }
    }
}

/* Profile */

.profile-page{
    background-color: $content-background-color;
    border-radius: 10px;
    color: $text-color;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;

    .info{
        margin-bottom: 30px;
        position: relative;

        center{
            margin: 0px 30px;

            & > div{
                height: 206px;
                width: 206px;
                border-radius: 100px;
                border: 3px solid;

                img{
                    clip-path: circle(95px at center);
                    -webkit-clip-path: circle(95px at center);
                }
            }
            
        }   
    }

    .contest{
        color: $text-color-neon;
        position: relative;
    }
}

@media (max-width: 858px){
    .profile-page .info .row{
        display: block;
        text-align: center;

        .details{
            margin-top: 20px;
        }
    }
}

/* User Settings */

.user-info{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: $text-color;
    margin-bottom: 30px;

    .header{

        .shade{
            z-index: 1;
            width: 250px;
            height: 250px;
            border-radius: 125px;
            background-color: $background-color;
            position: absolute;
            top: 60px;
            left: 50%;
            transform: translateX(-50%);

            .avatar{
                height: 206px;
                width: 206px;
                border-radius: 100px;
                border: 3px solid;
                margin: 22px;

                img{
                    clip-path: circle(95px at center);
                    -webkit-clip-path: circle(95px at center);
                }
            }
        }

        .nav{
            padding: 0px;
            display: flex;
            justify-content: center;
            background-color: $content-background-color;
            border-radius: 10px;
            margin-bottom: 30px;
            margin-top: 260px;

            p{
                margin-top: 10px;
                margin-bottom: 0;
            }

            hr{
                width: 80%;
                margin-left: 0;
                margin-right: 0;
            }

            a{
                margin-bottom: 10px;
                color: $text-color-neon;
                font-weight: bold;
                text-decoration: none;
                // font-style: italic;

                &::after{
                    content: '';
                    width: 0; height: 3px;
                    display: block;
                    margin-top: 2px;
                    background: $texture-neon;
                    transition: width .2s ease;
                    -webkit-transition: width .2s ease;
                }

                &:hover::after{
                    width: 100%;
                }

                &.active{
                    color: $text-color-neon-hover !important;
                }
            }
        }
    }

    .form{
        background-color: $content-background-color;

        h3{
            color: $text-color-neon;
            padding-top: 10px;
        }

        i{
            color: $text-color-neon;
        }
        
        a{
            color: $text-color-neon;
            font-weight: bold;
            // font-style: italic;
        }

        div{
            position: relative;
            height: 50px;
            color: $text-color;
            margin-top: 10px;

            input{
                color: white;
            }
        }

        center{
            margin-top: 30px;

            button{
                margin-top: 30px;
                margin: auto;
            }
        }
    }
}

/*Loader*/

@keyframes rot{

    0%{
        transform: rotate(0deg);
        transform-origin: center left;
    }

    25%{
        transform: rotate(90deg);
        transform-origin: center left;
    }

    50%{
        transform: rotate(180deg);
        transform-origin: center left;
    }

    75%{
        transform: rotate(270deg);
        transform-origin: center left;
    }

    100%{
        transform: rotate(360deg);
        transform-origin: center left;
    }

}

.loader{
    width: 100%;
    height: 100%;
    position: relative;

    .ray{
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;

        clip-path: polygon(50.43% 6.73%, 12.7% 28.76%, 12.83% 72.55%, 50.43% 94.44%, 88.17% 72.55%, 88.17% 28.63%);
        -webkit-clip-path: polygon(50.43% 6.73%, 12.7% 28.76%, 12.83% 72.55%, 50.43% 94.44%, 88.17% 72.55%, 88.17% 28.63%);

        .shade{
            position: absolute;
            width: 80%;
            height: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            clip-path: polygon(50.43% 6.73%, 12.7% 28.76%, 12.83% 72.55%, 50.43% 94.44%, 88.17% 72.55%, 88.17% 28.63%);
            -webkit-clip-path: polygon(50.43% 6.73%, 12.7% 28.76%, 12.83% 72.55%, 50.43% 94.44%, 88.17% 72.55%, 88.17% 28.63%);
            background-color: $background-color;
            z-index: 1;

        }

        .pointer{
            width: 80%;
            height: 12.5%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%);
            // transform: translateY(-50%);
            background-color: $texture-neon;

            animation-name: rot;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(1, 1, 0, 0);

        }
    }

    #mask{
        animation-name: counter-rot;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(1, 1, 0, 0);
    }
}

.info, .contest{

    .shade{
        background-color: $content-background-color !important;
    }
}

/* Autologin */

.autologin-main{
    margin-top: 130px;
    color: $text-color;

    .load{
        width: 400px;
        height: 400px;
    }

    .todos{
        margin-top: 40px;

        .checked{
            color: $text-color-neon;
            text-decoration: line-through;
        }
    }
}

/* Hasreg */

.hasreg{
    margin: 130px 10%;

    h3{
        color: $text-color-neon;
    }
}

/* Toast */
.iziToast-wrapper{
    color: initial;
    background-color: initial;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    
    .iziToast-capsule{
        color: initial;
        background-color: initial;
    }
}

/* Register Contest*/

.reg-contest{
    width: 100%;
    height: 100%;

    .content{
        margin-top: 130px;
        color: $text-color;
        width: 70%;
        margin-left: 15%;

        a{
            text-decoration: none;
            font-weight: bold;
            // font-style: italic;
            color: $text-color-neon;

            &:hover{
                color: $text-color-neon-hover
            }
        }

        h3{
            color: $text-color-neon;
        }

        form{

            center{
                margin-top: 10px;
                display: block;
            }
        }
    }
}